In [2]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd
import numpy as np
import statistics as st
import math

from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import norm
from scipy.stats import stats

In [9]:
farm_df=pd.read_csv('DS1_C5_S6_Hypothesis_I_Concept_FarmSize_Data.csv')
farm_df.head()

,State,2018_Number_of_farms,2019_Number_of_farms,"2018_Land_in_farms(in1,000acres)","2019_Land_in_farms(in1,000acres)",2018_Average_farm_size(acres),2019_Average_farm_size(acres)
0,Alabama,39700,38800,8500,8300,214,214
1,Alaska,1000,1050,850,850,850,810
2,Arizona,19200,19000,26200,26200,1365,1379
3,Arkansas,42500,42300,13900,14000,327,331
4,California,69400,69900,24300,24300,350,348

In [11]:
sample_df= farm_df.sample(n=35, random_state=1)

In [14]:
s_mean=st.mean(sample_df[' 2019_Average_farm_size(acres)'])
print("Sample Mean: "+str(s_mean))

Sample Mean: 421.4

In [6]:
x= 489.17 #Sample mean
mu = 445.51 #Population mean
S = 466.827 # Population standard deviation
n= 35 # Sample size 
alpha=0.05 # significance Level

z_statistic = (x-mu) / (S/math.sqrt(n)) 
print("The Z statistics is ", z_statistic)

p_value = norm.sf (abs (z_statistic)) #One tailed test 
print("The p_value is "+str(p_value))

z_critical = norm.ppf (1-alpha)# Right Tailed test
print("The z-critical value is "+str(z_critical))

The Z statistics is  0.5533014228614227
The p_value is 0.29002851345419445
The z-critical value is 1.6448536269514722

In [15]:
if z_statistic<z_critical and p_value>alpha:
    print("Accept Null Hypothesis i.e. no significant difference") 
else:
    print("Reject Null Hypothesis i.e. there is a significant difference")

Accept Null Hypothesis i.e. no significant difference

In [7]:
print(z_statistic<z_critical)

True

In [8]:
print(p_value<alpha)

False

In [17]:
sample_ratings=[3,4,5,5,4,5,5,4,4,4,4,4,4,4,4,5,4,4,4,3,4,4,4,3,5,4,4,5,4,4,4,5]
sample_mean=st.mean (sample_ratings) 
print("Sample Mean = ", sample_mean)

Sample Mean =  4.15625

In [19]:
alpha=0.1
p_mean =4.3
p_sd=0.574
n=len(sample_ratings)
z_statistic = (sample_mean-p_mean) / (p_sd/math.sqrt(n)) 
print("The Z statistics is ", z_statistic)

p_value = norm.sf(abs(z_statistic)) # One tailed test 
print("The p_value is "+str(p_value))

z_critical = norm.ppf (alpha) #
print("The z-critical value is "+str(z_critical))
print (p_value<alpha)
print(z_statistic<z_critical)

The Z statistics is  -1.4166773490671232
The p_value is 0.07828864121333116
The z-critical value is -1.2815515655446004
True
True

In [20]:
if z_statistic>z_critical and p_value>alpha:
    print("Accept Null Hypothesis i.e. no significant difference") 
else:
    print("Reject Null Hypothesis i.e. there is a significant difference")

Reject Null Hypothesis i.e. there is a significant difference

In [26]:
# 6.5

wages_df= pd.read_csv('DS1_C5_S6_Hypothesis_I_Concept_Wages_Data.csv')

In [27]:
wages_df.isnull().sum()

Advertising Manager    2
Sales Manager          0
dtype: int64

In [28]:
wages_df.dropna(inplace=True)

In [29]:
wages_df.isnull().sum()

Advertising Manager    0
Sales Manager          0
dtype: int64

In [32]:
n1 = len(wages_df['Advertising Manager'])
s_mean1 = st.mean(wages_df['Advertising Manager']) 
s_sd1 = st.stdev(wages_df['Advertising Manager'])
s_var1 = s_sd1**2
print('Advertising Manager:')
print('Mean = '+str(s_mean1))
print('Standard Deviation = '+str(s_sd1))
print('Sample Size = '+str(n1))
print('Variance = '+str(s_var1))

#Sample 2: Sale Manager
n2 = len(wages_df['Sales Manager'])
s_mean2 = st.mean (wages_df['Sales Manager'])
s_sd2 = st.stdev (wages_df['Sales Manager'])
s_var2 = s_sd2**2
print('\nSales Manager:')
print('Mean = '+str(s_mean2))
print('Standard Deviation =' + str(s_sd2))
print('Sample Size=' + str(n2))
print('Variance = '+str(s_var2))

Advertising Manager:
Mean = 70.27830303030304
Standard Deviation = 16.179630804434414
Sample Size = 33
Variance = 261.780452967803

Sales Manager:
Mean = 61.95096969696969
Standard Deviation =13.025483219167073
Sample Size=33
Variance = 169.66321309280303

In [38]:
alpha=0.05
z_statistics = ((s_mean1 - s_mean2)) / (math.sqrt(s_var1/n1 + s_var2/n2))
print("The 2 statistics is", z_statistics)

p_value = norm.sf(abs(z_statistics))*2 # two tailed test 
print("the p value is "+str(p_value))
      
pos_z_critical = norm.ppf(1-alpha/2)
print("The positive z-critical value is "+str(pos_z_critical))

neg_z_critical = norm.ppf(alpha/2) #two tailed test 
print("The - z-critical value is "+str(neg_z_critical))

The 2 statistics is 2.3030367622548895
the p value is 0.02127677478056706
The positive z-critical value is 1.959963984540054
The - z-critical value is -1.9599639845400545

In [39]:
if neg_z_critical<z_statistics and p_value>alpha:
    print("Accept Null Hypothesis i.e. no significant difference") 
else:
    print("Reject Null Hypothesis i.e. there is a significant difference")

Reject Null Hypothesis i.e. there is a significant difference